// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
  height: 100%;
  margin: 0;
}
.main{
  min-height: 100%;
}
.content-inside {
  padding: 20px;
  padding-bottom: 50px;
}
.footer {
  height: 50px;
  margin-top: -50px;
}

.navbar-toggler{
  border-color: #ffffff;
}

.top{
  background:url(/images/top.jpg) center no-repeat; background-size: cover
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 20px;
  background-color:#F9AA8F;;
  margin-top: auto;
}

.greet_start{
  margin: 0 auto;
  // background-color:#BEF7F7;
  padding: 24px;
  text-align: center;
  .start_btn{
    width:250px;
    color: white;
    background-color:pink;
    margin: 0 auto;
  }
}

.description {
	color: #444;
	font-size: 24px;
	display: flex;
	align-items: center;
}
.description:before, .description:after {
	content: "";
	flex-grow: 1;
	height: 1px;
	background: #444;
	display: block;
}
.description:before {
	margin-right: .4em;
}
.description:after {
	margin-left: .4em;
}

.description_content{
  font-size: 18px;
}

.q_img{
  width: 100%;
}
@media screen and (min-width:480px) { 
  /*　画面サイズが480pxからはここを読み込む　*/
  .q_img{
    width:50%;
  }
}

.question_title{
  padding: 0 10px 10px 10px;
  text-align: center;
}
.question_q{
  background-color: #ffc6e2;
  padding: 5px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  min-height: 50px;
}

.question_answer{
  background-color: #eaeaea;
  padding: 5px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 15px;
  text-align: center; 
  margin-top: 15px ;
  margin-bottom: 15px ;
  min-height: 50px;
  cursor: pointer;


}

.question_advice{
  border: 4px solid #ccc;
  margin-top: 25px;
  padding: 17px;
  border-radius: 15px;
  text-align: center;
  .good{
    color: #f36c62;;
    text-align: center;
    font-weight: 800;
  }
  .bad{
    color: #1e88e5;
    text-align: center;
    font-weight: 800;
  }
  .normal{
    color: rgba(250,207,76,.97);
    text-align: center;
    font-weight: 800;
  }
  .advice_comment{
    text-align: center;
  }
  .btn-default{
    font-weight: 700;
    background-color: rgba(250,207,76,.97);
    border-color: rgba(232,192,72,.97);
    margin: auto;
    min-width: 210px;
    color: white;
    font-size: larger;
  }
}